<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button (click)="triggerTheSideNav()">
          <mat-icon>menu</mat-icon>  
      </button>
      <span>Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="{{isSidenavOpen}}">
    <mat-nav-list>
      <a mat-list-item 
        *ngFor="let item of sideNavItemList" 
        (click)="onRowClicked(item)" 
        routerLink="{{item.routePath}}">
        <mat-icon mat-list-icon>{{item.iconName}}</mat-icon>
        <h3 mat-line>{{item.name}}</h3>
        <mat-divider></mat-divider>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


